body{
    font-family: "Roboto";
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

#container{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 100px auto;
    background-color: #f7f7f7;
}

.gray{
    color: gray;
    text-decoration: line-through;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
    box-sizing: border-box;
}

.fa-plus{
    float: right;
}

span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
}